body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 90%;
  max-width: 1000px;
}
