.item-list-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  color: cadetblue;
  animation: scale-in 0.5s ease forwards;

  /* Seprate between the boxes and itemlist sections*/

  .section-divider {
    height: 2px;
    background-color: cadetblue;
    width: 100%;
    border: none;
    margin-bottom: 2.5rem;
  }

  h2 {
    font-size: 1.2rem;
    margin: 2px 0;
  }

  /* Represents the itemlist */

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;

    .item {
      display: flex;
      align-items: center;
      margin: 3px auto;
      color: cadetblue;
    }

    /* divdes the item name and it's KG count */

    .item-divider {
      flex-grow: 1;
      border: none;
      border-top: 3px dotted rgb(231, 231, 231) !important ;
      margin: 0 1rem;
    }
  }

  /* Submit button */

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    color: white;
    border: none;
    font-weight: 600;
    width: 220px;
    text-align: center;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
      background-color: rgb(131, 146, 146);
      transition: color 0.3s ease;
    }
  }
}

/* Define the scale-in animation */
@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
